ion-content{
    height: 100%;
    ion-grid{
        height: 100%;
    }
}

.circle-pic{
    margin-top: 10px;
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}