<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/img/cat.jpg" class="circle-pic"/>
          <ion-card-header>
            <ion-card-title>{{employeeName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content id="content">
            <p><strong>Employee ID: </strong>{{employeeId}}</p>
            <p><strong>Email Address: </strong>{{email}}</p>
            <p><strong>Sector Name: </strong>{{sectorName}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
