<ion-content>
  <div class="container-center">
    <ion-row>
      <ion-col size="12">
        <div class="img-container">
          <!--<ion-img src="https://cdn.logo.com/hotlink-ok/logo-social-sq.png"></ion-img>-->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-label class="header">Proceed with your</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-label class="sub-header">Login</ion-label>
      </ion-col>
    </ion-row>
    <form id="form">
      <ion-row>
        <ion-col>
            <ion-label class="font-color-primary" position="stacked">Username</ion-label>
            <ion-item>
              <ion-input class="input" #username required></ion-input>
              <ion-icon name="person-outline" slot="end"></ion-icon>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="font-color-primary" position="stacked">Password</ion-label>
          <ion-item>
            <ion-input class="input" #password type="password" required></ion-input>
            <ion-icon name="key-outline" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 30px;">
        <ion-col>
          <ion-button (click)="onlogIn(username, password)" expand="full">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>