.container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.font-color-primary{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    font-family: OpenSans-Regular !important;
}
.font-color-secondary{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #928f8f;
    font-family: OpenSans-SemiBold !important;
}
.header{
    font-size: 20px;
    font-family: OpenSans-SemiBold !important;
}
.sub-header{
    font-size: 24px;
    font-family: OpenSans-ExtraBold !important;
}
.img-container{
    margin-bottom: 30px;
}
ion-label {
    font-size: 14px;
}

ion-img{
    width: 40%;
}
#form{
    margin-top: 50px;
}
.input{
    font-family: OpenSans-Regular !important;
    font-size: 14px;
    color: #928f8f;
}