<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Purchase</ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-list>
          <ion-item>
            <ion-label>Supplier</ion-label>
            <ion-select (ionChange)="supplierChange($event)" >
              <ion-select-option value="0">All</ion-select-option>
              <ion-select-option *ngFor="let data of supplier; let i = index" value="{{data.id}}">
                {{data.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select>
              <ion-select-option value="0">All</ion-select-option>
              <ion-select-option value="1">Price: Low to High</ion-select-option>
              <ion-select-option value="2">Price: High to Low</ion-select-option>
              <ion-select-option value="3">A-Z</ion-select-option>
              <ion-select-option value="4">Z-A</ion-select-option>
              <ion-select-option value="1">Oldest to Newest</ion-select-option>
              <ion-select-option value="1">Newest to Oldest</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let data of proData">
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/img/empty.jpg">
            </ion-avatar>
            <ion-label>
              <h3>{{data.supplier.name}}</h3>
              <p>{{data.subSector.name}}</p>
            </ion-label>
          </ion-item>
        
          <ion-card-header>
            <ion-card-title>{{data.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{data.description}}
          </ion-card-content>
          <ion-footer>
            <ion-row>
              <ion-col center text-center>
                <input class="qty" #qty type="number" value="1">
              </ion-col>
              <ion-col center text-center>
                <ion-button expand="full">Add to cart</ion-button>
              </ion-col>
            </ion-row>
          </ion-footer>
        </ion-card>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
