.qty{
    margin-top: 5px;
    height:34px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    border:1px solid #ddd;
    border-radius:4px;
}
ion-content{
    height: 100%;
    ion-grid{
        height: 100%;
    }
}