<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" id="segment">
    <ion-segment-button value="new">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="open">
      <ion-label>Open</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="declined">
      <ion-label>Declined</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
